workflow-1.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0126c659-03a5-4fc8-bd76-62d2ecea1195",
              "name": "items",
              "type": "array",
              "value": "={{ [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01249746-9d41-410b-aa1f-f33038201f12",
      "name": "Initialize \"items\" field",
      "type": "n8n-nodes-base.set",
      "position": [
        416,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddd82419-e43e-44d8-919c-2d6602704da5",
              "name": "items",
              "type": "array",
              "value": "={{ [ ...$(&apos;Set \"items\" field&apos;).item.json.items, ...$json.tasks[0].result[0].items] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "302d0a5e-7082-4af3-88f3-c49bfdc8ca8a",
      "name": "Merge \"items\" with DFS response",
      "type": "n8n-nodes-base.set",
      "position": [
        1088,
        336
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cd5943f7-df0b-4329-8436-9a1af3ec7caf",
              "operator": {
                "type": "number",
                "operation": "lt"
              },
              "leftValue": "={{ $runIndex }}",
              "rightValue": "={{ $(&apos;Get lost backlinks&apos;).item.json.tasks[0].result[0].total_count / 1000 - 1}}"
            },
            {
              "id": "9cd8ede8-c09a-4cbc-8050-5d23989ee07e",
              "operator": {
                "type": "number",
                "operation": "lt"
              },
              "leftValue": "={{ $runIndex }}",
              "rightValue": 5
            }
          ]
        },
        "options": {}
      },
      "id": "d3248755-6b76-4a86-9505-5ef6d9e5febb",
      "name": "Has more pages?",
      "type": "n8n-nodes-base.if",
      "position": [
        1312,
        416
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "648f4d1e-367c-41b2-b223-1363dadc2cc8",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $(&apos;Get lost backlinks&apos;).item.json.tasks[0].result[0].total_count }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "id": "6a03f798-1a64-46bf-b037-06173fbe4999",
      "name": "Filter (has new backlinks)",
      "type": "n8n-nodes-base.filter",
      "position": [
        -16,
        880
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(&apos;Create spreadsheet&apos;).item.json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(&apos;Create spreadsheet&apos;).item.json.sheets[0].properties.sheetId }}"
        },
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "40f28904-5973-4b9a-bc25-c9778ecddb2e",
      "name": "Append columns",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        656,
        880
      ],
      "typeVersion": 4.7,
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e2c8353-5628-4948-abe6-35f8d0f660a5",
              "name": "items",
              "type": "array",
              "value": "={{ [...$(&apos;Set \"items\" field&apos;).item.json.items, ... $(&apos;Get lost backlinks&apos;).item.json.tasks[0].result[0].items]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c02c042-6c95-4942-84af-3ba19ca72439",
      "name": "Set final \"items\" field",
      "type": "n8n-nodes-base.set",
      "position": [
        880,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "65056f6a-d5c3-4c76-bcb2-23d8ec744423",
      "name": "Split out items",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1104,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "limit": 1000,
        "offset": "={{ $runIndex * 1000 }}",
        "target": "=dataforseo.com",
        "filters": "=[\"last_seen\", \">\", \"{{ $now.minus(1, \"days\").format(\"yyyy-MM-dd\") }}\"]",
        "operation": "get-backlinks",
        "include_indirect_links": false
      },
      "id": "2b0d9190-f707-4d17-a1ed-6bcdf257fd95",
      "name": "Get lost backlinks",
      "type": "n8n-nodes-dataforseo.dataForSeoBacklinksApi",
      "position": [
        864,
        336
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b3c95a2-4e38-4e37-8e2f-a7e4544808d6",
              "name": "items",
              "type": "array",
              "value": "={{ $json.items }}"
            }
          ]
        },
        "options": {}
      },
      "id": "56f9f2c5-91e6-4667-86f5-12026c52668e",
      "name": "Set \"items\" field",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "=Lost Backlinks to  {{ $(&apos;Get lost backlinks&apos;).item.json.tasks[0].data.target }} - {{ $now.format(\"yyyy-MM-dd\") }}",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "Lost Backlinks"
            }
          ]
        },
        "options": {}
      },
      "id": "8f267be2-484a-4275-8079-f7036d8c877c",
      "name": "Create spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        208,
        880
      ],
      "typeVersion": 4.7,
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(&apos;Create spreadsheet&apos;).item.json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(&apos;Create spreadsheet&apos;).item.json.sheets[0].properties.sheetId }}"
        },
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "775afb58-5971-4482-8fda-c9fbd732622d",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1552,
        880
      ],
      "typeVersion": 4.7,
      "credentials": {}
    },
    {
      "parameters": {
        "sendTo": "user@example.com",
        "subject": "=Lost Backlinks to {{ $(&apos;Get lost backlinks&apos;).item.json.tasks[0].data.target }} - {{ $now.format(\"yyyy-MM-dd\") }}",
        "message": "=<html> <body> <p>Here is your daily lost backlinks report for {{ $(&apos;Get lost backlinks&apos;).item.json.tasks[0].data.target }}.</p>  <p>During the past day, we identified {{ $(&apos;Get lost backlinks&apos;).item.json.tasks[0].result[0].total_count }} backlinks.</p>  You can review the full list here: <a href=\"{{ $(&apos;Create spreadsheet&apos;).item.json.spreadsheetUrl }}\">Lost Backlinks to  {{ $(&apos;Get lost backlinks&apos;).item.json.tasks[0].data.target }} - {{ $now.format(\"yyyy-MM-dd\") }}</a> </body> </html>",
        "options": {}
      },
      "id": "2228f42d-03a3-468e-aa70-585b39516b7e",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1984,
        880
      ],
      "typeVersion": 2.2,
      "credentials": {}
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "bb54ec0f-e627-4784-85e0-0cb87178ced4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        192,
        416
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "524ac1d6-6b27-41de-a8c1-4af416c098d8",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1776,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"Date\": \"\",\n  \"Target\": \"\",\n  \"Backlink\": \"\",\n  \"Spam Score\": \"\",\n  \"Backlink Rank\": \"\",\n  \"Domain from\": \"\",\n  \"Domain from Rank\": \"\",\n  \"URL from\": \"\",\n  \"URL from Rank\": \"\",\n  \"Backlink Is Broken\":\"\",\n  \"Backlinks Is Dofollow\":\"\"\n}\n",
        "options": {}
      },
      "id": "e3aad525-4606-4c5f-a826-cd740ea1c7a6",
      "name": "Prepare columns for Google Sheets",
      "type": "n8n-nodes-base.set",
      "position": [
        432,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Date\": \"{{ $now.format(&apos;yyyy-MM-dd&apos;) }}\",\n  \"Target\": \"{{ $(&apos;Get lost backlinks&apos;).item.json.tasks[0].data.target }}\",\n  \"Backlink\": \" {{ $json.url_to }}\",\n  \"Spam Score\": \"{{ $json.backlink_spam_score }}\",\n  \"Backlink Rank\": \"{{ $json.rank }}\",\n  \"Domain from\": \"{{ $json.domain_from }}\",\n  \"Domain from Rank\": \"{{ $json.domain_from_rank }}\",\n  \"URL from\": \"{{ $json.url_from }}\",\n  \"URL from Rank\": \"{{ $json.page_from_rank }}\",\n  \"Backlink Is Broken\":\"{{ $json.is_broken }}\",\n  \"Backlinks Is Dofollow\":\"{{ $json.dofollow }}\"\n}",
        "options": {}
      },
      "id": "fd6e2c7c-b6f8-4c0a-94c8-49149708c272",
      "name": "Prepare data for Google Sheets",
      "type": "n8n-nodes-base.set",
      "position": [
        1328,
        880
      ],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Initialize \"items\" field": {
      "main": [
        [
          {
            "node": "Set \"items\" field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge \"items\" with DFS response": {
      "main": [
        [
          {
            "node": "Has more pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has more pages?": {
      "main": [
        [
          {
            "node": "Set \"items\" field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter (has new backlinks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter (has new backlinks)": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append columns": {
      "main": [
        [
          {
            "node": "Set final \"items\" field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set final \"items\" field": {
      "main": [
        [
          {
            "node": "Split out items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out items": {
      "main": [
        [
          {
            "node": "Prepare data for Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get lost backlinks": {
      "main": [
        [
          {
            "node": "Merge \"items\" with DFS response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set \"items\" field": {
      "main": [
        [
          {
            "node": "Get lost backlinks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Prepare columns for Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initialize \"items\" field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare columns for Google Sheets": {
      "main": [
        [
          {
            "node": "Append columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare data for Google Sheets": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}